version: 2.1

parameters:
  min_rust_version:
    type: string
    default: "1.81"
  fingerprint:
    type: string
    default: SHA256:OkxsH8Z6Iim6WDJBaII9eTT9aaO1f3eDc6IpsgYYPVg
  validation_flag:
    type: boolean
    default: false
    description: "If true, the validation pipeline will be executed."
  success_flag:
    type: boolean
    default: false
    description: "If true, the success pipeline will be executed."
  release_flag:
    type: boolean
    default: false
    description: "If true, the release pipeline will be executed."

orbs:
  toolkit: digital-prstv/circleci-toolkit@4.4.3

executors:
  # Custom node executor for renovate validation
  node:
    docker:
      - image: cimg/node:25.4.0

jobs:
  validate-config:
    executor: node
    steps:
      - checkout
      - run:
          name: Show node version
          command: node --version
      - run:
          name: Install renovate
          command: |
            npm install renovate
      - run:
          name: Update
          command: |
            npm update
      - run:
          name: Validate config - default.json
          command: |
            npx --yes --package renovate -- renovate-config-validator --strict default.json

workflows:
  check_last_commit:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.release_flag >>
        - not: << pipeline.parameters.validation_flag >>

    jobs:
      - toolkit/choose_pipeline:
          name: choose pipeline based on committer
          context: bot-check

  validation:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.release_flag >>
        - << pipeline.parameters.validation_flag >>
    jobs:
      - toolkit/label:
          min_rust_version: << pipeline.parameters.min_rust_version >>
          context: pcu-app
          filters:
            branches:
              only:
                - main
      - validate-config
      - toolkit/update_changelog:
          requires:
            - validate-config
          context:
            - release
            - bot-check
            - pcu-app
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          min_rust_version: << pipeline.parameters.min_rust_version >>
          # update_pcu: true
          # install_me: true
          pcu_verbosity: "-vvvv"

  on_success:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.validation_flag >>
        - not: << pipeline.parameters.release_flag >>

    jobs:
      - toolkit/end_success

  release:
    when:
      and:
        - or:
            - and:
                - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
                - equal: ["release check", << pipeline.schedule.name >>]
            - <<  pipeline.parameters.release_flag >>
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.validation_flag >>
        - <<  pipeline.parameters.release_flag >>
    jobs:
      - toolkit/make_release:
          context:
            - release
            - bot-check
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          min_rust_version: << pipeline.parameters.min_rust_version >>
